
@font-face {
    font-family: 'yekan';
    src: url('./fonts/yekan.woff') format('woff'),
		url('./fonts/yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sahel-Bold';
    src: url('./fonts/Sahel-Bold.woff') format('woff'),
    url('./fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Sahel';
    src: url('./fonts/Sahel.woff') format('woff'),
    url('./fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
